{
  "openapi": "3.1.0",
  "info": {
    "title": "Nayori Agent Commerce API",
    "version": "0.7.3",
    "description": "Exposes public x402 and MPP PaymentAuth resources backed by an isolated Stacks facilitator."
  },
  "x-service-info": {
    "categories": [
      "agent-commerce",
      "payments"
    ],
    "protocols": [
      "x402",
      "mpp-paymentauth"
    ],
    "documentation": "https://docs.nayori.ai"
  },
  "servers": [
    {
      "url": "https://api.nayori.ai"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "getReadiness",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "PostgreSQL is unavailable"
          }
        }
      }
    },
    "/supported": {
      "get": {
        "operationId": "getSupported",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/x402.json": {
      "get": {
        "operationId": "getX402Metadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent.json": {
      "get": {
        "operationId": "getAgentManifest",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmInstructions",
        "responses": {
          "200": {
            "description": "Agent-readable service guidance",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1": {
      "get": {
        "operationId": "getPaidNayoriCapabilityReport",
        "summary": "Purchase or retrieve the Nayori commerce capability report with x402 on Stacks",
        "parameters": [
          {
            "name": "settlement",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^ns_[0-9a-f]{32}$"
            },
            "description": "Poll a previously submitted asynchronous Stacks settlement."
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed settlement and idempotently delivered capability report",
            "headers": {
              "PAYMENT-RESPONSE": {
                "description": "Base64 x402 v2 settlement response"
              }
            }
          },
          "202": {
            "description": "The signed Stacks transaction is awaiting canonical confirmation",
            "headers": {
              "Location": {
                "description": "Polling URL for this settlement"
              },
              "Retry-After": {
                "description": "Suggested polling delay in seconds"
              },
              "X-NAYORI-SETTLEMENT-ID": {
                "description": "Nayori settlement identifier"
              }
            }
          },
          "402": {
            "description": "A wallet-approved x402 payment is required",
            "headers": {
              "PAYMENT-REQUIRED": {
                "description": "Base64 x402 v2 payment requirements"
              }
            }
          },
          "409": {
            "description": "The settlement failed or is not deliverable"
          },
          "503": {
            "description": "The isolated facilitator is unavailable"
          }
        }
      }
    },
    "/mpp/v1": {
      "get": {
        "operationId": "getMppPaidNayoriCapabilityReport",
        "summary": "Purchase or retrieve the Nayori capability report with MPP PaymentAuth and USDCx",
        "x-payment-info": {
          "offers": [
            {
              "intent": "charge",
              "method": "usdc",
              "amount": null,
              "currency": "SP120SBRBQJ00MCWS7TM5R8WJNTTKD5K0HFRC2CNE.usdcx::usdcx-token",
              "description": "Settlement-backed Nayori commerce capability report",
              "methodDetails": {
                "type": "stacks"
              }
            }
          ]
        },
        "parameters": [
          {
            "name": "settlement",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^ns_[0-9a-f]{32}$"
            },
            "description": "Poll a previously submitted asynchronous Stacks settlement."
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmed USDCx settlement and idempotently delivered report",
            "headers": {
              "Payment-Receipt": {
                "description": "MPP PaymentAuth settlement receipt"
              }
            }
          },
          "202": {
            "description": "The signed USDCx transaction is awaiting canonical confirmation",
            "headers": {
              "Location": {
                "description": "Polling URL for this settlement"
              },
              "Retry-After": {
                "description": "Suggested polling delay in seconds"
              },
              "X-NAYORI-SETTLEMENT-ID": {
                "description": "Nayori settlement identifier"
              }
            }
          },
          "402": {
            "description": "A wallet-approved MPP PaymentAuth USDCx payment is required",
            "headers": {
              "WWW-Authenticate": {
                "description": "Payment challenge selecting Payment-Authorization"
              }
            }
          },
          "409": {
            "description": "The settlement failed or is not deliverable"
          },
          "503": {
            "description": "The isolated facilitator is unavailable"
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "operationId": "getOAuthAuthorizationServerMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "operationId": "getOAuthProtectedResourceMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/jwks.json": {
      "get": {
        "operationId": "getOAuthVerificationKeys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "operationId": "getMcpServerCard",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "invokeMcpStreamableHttp",
        "security": [
          {
            "oauthBearer": [
              "mcp:invoke"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "OAuth token required"
          },
          "403": {
            "description": "mcp:invoke scope required"
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "operationId": "getQuoteVerificationKeys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quotes": {
      "post": {
        "operationId": "issueQuote",
        "security": [
          {
            "merchantBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A signed, request-bound quote was issued"
          },
          "400": {
            "description": "The request is malformed"
          },
          "401": {
            "description": "Merchant authentication failed"
          },
          "403": {
            "description": "The request violates merchant route policy"
          },
          "404": {
            "description": "The configured merchant route does not exist"
          },
          "429": {
            "description": "The merchant quote rate limit was exceeded"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "merchantBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Nayori merchant API key"
      },
      "oauthBearer": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://oauth.nayori.ai/oauth/token",
            "scopes": {
              "catalog:read": "Allows catalog:read",
              "quotes:create": "Allows quotes:create",
              "payments:verify": "Allows payments:verify",
              "payments:settle": "Allows payments:settle",
              "payments:read": "Allows payments:read",
              "mcp:invoke": "Allows mcp:invoke"
            }
          }
        }
      },
      "oauthClientBasic": {
        "type": "http",
        "scheme": "basic"
      }
    }
  }
}
